/* This file will hold the main styles for your website. */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:900,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700);
@import url(http://fonts.googleapis.com/css?family=Bowlby+One+SC);

html,
body,
#page  {
  height: 100%;

}
body {
  font-size: 62.5%; /* 10px */
  font-family: Geneva, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  color: #696969;
  background: #007ba5;
}
.element-invisible {
  position: absolute !important;
  top: -9999em;
  left: -9999em;
}
img {
  max-width: 100%;
}

.item-list .pager {
  margin-bottom: 10px;
}

/* Fonts */
a, 
a:link,
a:visited {
  text-decoration: none;
  color: #0299c8;
}
.vertical-tab-button a,
.vertical-tab-button a:link
.vertical-tab-button a:visited {
  border: 0;
}
a:focus,
a:hover {
  
  color: #0073ba;
  border-bottom: 0;
  text-decoration: underline;
}
.logo-img a,
.contextual-links-wrapper a {
  border: 0;
}

p {
font-size: 110%;
}

h1.site-name, h2.site-name /* site name is h2 on subpages */
{
  font-family: UbuntuBold, Geneva, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
  font-size: 4.8em; /* 48px */
/* -webkit-margin-after: -10px; */
	position: absolute;
	right: 0;
	bottom: -6px;
}

h6.site-slogan {
  font-size: 1.6em; /* 16px */
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  letter-spacing: normal;
}

.item-list ul li {
  margin: 0;
}

/* Header */ 
body.front #zone-branding{
background: #F99D32 url("../img/header-bg.png") no-repeat center bottom; /* only serve bg img on home pg */
}
#zone-branding{
background: #F99D32;
}

#zone-content {
background: #fff;
padding-bottom: 30px;
}
body.front #zone-content {
background: #fff url("../img/skyline.png") no-repeat center top; /* only serve bg img on home pg */
}

.site-name-slogan .site-name a{
  font-family: 'Open Sans', sans-serif;
  font-size: 170px;
  color: #007BA5;
  text-transform: uppercase;
  letter-spacing: 6px;
  text-decoration: none;
}

.branding-data {
margin-top: 25px;
margin-bottom: 10px;
}

/* Primary Nav */
.navigation ul {
  margin: 0;
  padding: 0;
  display: block;
}

.navigation ul.secondary-menu {
  text-align: right;
  margin-top: 10px;
}

.navigation ul li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 33.3333333333333%;
}

.navigation ul.secondary-menu li {
  width: auto;
}

.navigation ul li a {
  display: block;
  text-align: center;
  border-bottom: 0;
  font-size: 1.5em; /* 15px */
  padding: .2em 0;
  color: #fff;
  text-transform: none;
  font-weight: bold;
  text-decoration: none;
}

.navigation ul.secondary-menu li a {
  font-size: 1.2em;
  padding: 0.5em 1em;
  font-weight: normal;
}

.navigation ul li a:hover,
.navigation ul li a:focus {
  background: #76D2F1; /* Old browsers */
  color: #FFF;
}

.navigation ul li a.active,
.navigation ul li a.active-trail,
.navigation ul li a.active:hover,
.navigation ul li a.active-trail:hover
.navigation ul li a.active:focus,
.navigation ul li a.active-trail:focus {
  background: #76D2F1; /* Old browsers */
  color: #FFF;
}


/* Blocks */
h2.block-title {
  font-size: 1.5em; /* 15px */
  padding: 0.5em 1em;
  color: #FFF;
}

/* Trying to get a transform on the node link headers */

article header h2.node-title {
  font-size: 2.0em; /* 20px */
  margin-bottom: 0;
  padding: 0;
}


article h2.node-title a {
  display: block;
  padding: 0.5em 1em;
  color: #FFF;
  margin-bottom: 0;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0;
  background: #93c5e4; /* Old browsers */
}

article:hover h2.node-title a,
.comment:hover header h3 {
  background: #93c5e4; /* Old browsers */
}

article.comment-by-node-author header h3 {
  background: #93c5e4; /* Old browsers */
  color: #FFF;
}

section.block .block-inner > div.content,
div#first-time,
dl.node-type-list,
.page-node-add .block-system-main > .block-inner,
.page-node-edit .block-system-main > .block-inner {
/*   background: #FFF; */
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

h1#page-title,
.comment header h3 {
  font-size: 2.5em; /* 20px */
  padding: 0.5em;
  color: #0299c8;
  margin-bottom: 0;
}

article header h2.node-title a,
.comment header h3 a {
  color: #FFF;
  text-decoration: none;
  display: block;
  border-bottom: 0;
}

article .node-inner,
article .comment-inner,
.block-system-main {
  /* background: #FFF; */
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  font-size: 12px;
  font-family: Geneva, "Helvetica Neue", Helvetica, Veranda, Arial, sans-serif;
}

.comment-form > div {
  background: #FFF;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}


.page-node .block-system-main {
  background: transparent;
  padding: 0;
  margin-bottom: 0;
}

.comment footer {
  text-align: right;
  margin-bottom: 10px;
}
.comment ul.links {
  text-align: right;
}

li.node-readmore a {
  font-weight: bold;
}

div.user-picture {
  float: left;
  margin: 0 10px 0 0;
}
.node .field-type-image {
  margin-bottom: 10px;
}
div#breadcrumb {
  margin-bottom: 10px;
}
/* menu blocks */

section.block-menu .block-inner > div.content {
  padding: 0;
}

section.block-menu ul.menu {
  
}
section.block-menu ul.menu li,
section.block-menu ul.menu li.leaf {
  list-style: none;
  margin: 0;
  padding: 0;
}
section.block-menu ul.menu li a {
  border: 0;
  display: block;
  font-size: 1.4em; /* 14px */
  padding: 0;
  border-bottom: 1px dotted #006caf;
  padding: 0.25em 1em;
  background: #ffffff; /* Old browsers */
}

section.block-menu ul.menu li ul a {
  padding-left: 2em;
}
section.block-menu ul.menu li ul ul a {
  padding-left: 3em;
}
section.block-menu ul.menu li ul ul ul a {
  padding-left: 4em;
}

section.block-menu ul.menu li a:hover,
section.block-menu ul.menu li a.active {
  color: #FFF;
  padding-left: 2em;
  background: #93c5e4; /* Old browsers */  
}

section.block-menu ul.menu li ul a:hover,
section.block-menu ul.menu li ul a.active {
  padding-left: 3em;
}
section.block-menu ul.menu li ul ul a:hover,
section.block-menu ul.menu li ul ul a.active {
  padding-left: 4em;
}
section.block-menu ul.menu li ul ul ul a:hover,
section.block-menu ul.menu li ul ul ul a.active {
  padding-left: 5em;
}

section.block-menu div.content > ul.menu {
  padding-bottom: 10px;
  border-bottom: 0;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  background: #3a3a3a;
}

#user-login-form {

}

#user-login-form label {
  display: none;
}
.form-item, .form-actions {
    margin-bottom: 0;
    margin-top: 0;
}

input,
button,
select,
html.js input.form-autocomplete {
  margin: 0;
  outline: 0;
  vertical-align: middle;
  
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  -o-background-clip: padding;
  background-clip: padding-box;
  
  background: #ffffff; /* Old browsers */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

textarea {
  margin: 0;
  outline: 0;
  background: #f6f6f6; /* Old browsers */
  margin-bottom: 10px;
  padding: 4px 8px;
	border: solid 1px #E5E5E5;
	font: normal 1.8em/150% Verdana, Tahoma, sans-serif;
	width: 100%;
  
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
input[type="submit"] {
  border: 0;
	outline: 0;
	padding: 0.25em 0.5em;
	text-transform: lowercase;
	cursor: pointer;
	font: normal 1.4em/100% Verdana, Tahoma, sans-serif;
	margin-right: 0.5em;
	
	background: #93c5e4; /* Old browsers */
        color: #FFF;
}
input[type="submit"]:hover {
  background: #93c5e4; /* Old browsers */
}
input.form-text {
  margin-bottom: 10px;
  padding: 4px 8px;
	border: solid 1px #E5E5E5;
	font: normal 1.8em/200% Verdana, Tahoma, sans-serif;
	width: 100%;
}



/* Tabs */

div.tabs {
  background: #FFF;
  font-size: 1em;
  padding: 0;
  text-transform: uppercase;
}
.tabs ul {
  margin: 0;
}

.tabs ul li {
  margin: 0;
  display: inline-block;
}
.tabs ul li a {
  border: 0;
  padding: 0.5em 1em;
  display: block;
}
.tabs ul li a:hover {
  text-decoration: underline;
}

.tabs ul.primary {
  font-size: 1.2em;
  background: #ffffff; /* Old browsers */
}

.tabs ul.primary li a {
  border-right: 1px solid #CCC;
}

.tabs ul.primary li a.active {
  background: #93c5e4; /* Old browsers */
  color: #FFF;
}
.tabs ul.secondary {
  font-size: 1em;
}

.tabs ul.secondary li a {
  color: #9a9a9a;
  border-right: 1px solid #6a6a6a;
}
.tabs ul.secondary li a.active {
  color: #FFF;
}

.tabs ul li:last-child a {
  border: 0;
}



ul.links {
  margin-bottom: 0;
}



.block-comment-recent li span {
  font-size: 0.9em;
  font-style: italic;
  float: right;
  display: none;
}
.block-comment-recent li:hover span {
  display: block;
}

/* Tables */
table, thead, tbody, th, tr, tr.even, tr.odd, td {
  background: transparent;
  border: 0;
}
table {
  width: 100%;
}



/* Search Box */
#search-block-form {
  margin-bottom: 10px;
}
#search-block-form .container-inline {
  position: relative;
  
}
#search-block-form .form-text {
  margin-bottom: 0;
}
#search-block-form .form-submit {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  text-indent: -9999em;
  width: 40px;
  background: #CCC url('../i/search.png') no-repeat center center;
  
  -webkit-border-radius: 0 5px 5px 0;
  -moz-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
}

/* Hidden Elements in Mobile */

/* Custom styles */

#region-user-second{
  float: right;
}

#nypl-kids-user-language{
  width: 250px;
  float: right;
}

#nypl-kids-lanuage-links{
  max-width: 150px;
}

#nypl-kids-language-links li{
 font-size: 10px;
 padding-right: 5px;
 display:inline;
 list-style: none outside none;
 width: 20px;
}

div.ui-datepicker{
 padding-left: 16px;
 font-size:13px;
}

.ui-datepicker {
  border: none;
}

#legal-links{
  width: 50%;
  margin: 0px auto;
}

#legal-links li{
  display:block;
  float: left;
  text-align:center;
}

/* Footer bottom */

#zone-footer{
  color: #FFF;
  /* background: #36322D; */
}

#footer-bottom li a{
 color: #FFF;
}

#footer-bottom {
  color: #FFF;
  min-height: 130px;
  margin: 0;
  padding: 15px 0;
  text-align: left;
  position: relative;
}

#footer-bottom ul {
float: left;
line-height: 2em;
list-style: none outside none;
margin: 0;
padding: 0 0em;
position: relative;
width: 20%;
}

body.front #footer-bottom ul { /* for spacing on home pg version */
	padding: 0 1em;
}

#home-shallowfooter { /* for spacing on home pg version */
	float: right;
}

#footer-bottom ul li {
	padding: 0 1em;
}

#footer-bottom ul#shallow-footer li.first,
#footer-bottom ul#legal-links li.first {
	padding-left: 0;
	border-left: 0;
}

#footer-bottom ul li a {
	color: #ffffff;
	text-decoration: none;
}

#footer-bottom ul li a:hover,
#footer-bottom ul li a:active {
	text-decoration: underline;
}

#footer-bottom ul#legal-links {
/*
  bottom: 3px;
  color: #FFFFFF;
  font-size: 90%;
  left: 5px;
  padding: 0;
  position: absolute;
  width: 100%; 
*/
}

#footer-bottom #legal-links a:link,
#footer-bottom #legal-links a:visited {
	text-decoration: none;
	color: #534D45;
}

#footer-bottom #legal-links a:hover,
#footer-bottom #legal-links a:active {
	color: #908B85;
}

#footer-bottom ul#legal-links li.last {
	border-left: 0;
}

/* END FOOTER */


/* Custom Styles */

/* HOME PG */
[class|=promo] {
display: block;
float: left;
padding-top: 100px;
text-align: center;
width: 33%;
}

.promo-games {
padding-top: 0;
}

.lib-card {
position: absolute;
top: -12px;
left: 0;
background: url("../img/library-card.png");
width: 160px;
height: 157px;
text-indent: 100%;
white-space: nowrap;
overflow: hidden;
}
.logged-in .lib-card {
left: 80%; /* fixes this img covered edit links when logged in */
}


/* views */

.views-row{
  padding-bottom: 10px;
  font-size: 15px;
}

.views-field-title{
  font-size: 15px;
  font-weight: bold;
}

.views-row{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.views-field-title .field-content a{
  font-size: 18px;
/*   padding-left: 30px; */
  padding-bottom: 15px;
}

.views-field-body .field-content p {
  padding-left: 115px;
  font-size: 85%;
}


.views-row-odd{
/*  background-color: red;*/
}

/* items in a list (views, blog posts, events) */
.views-row,
.bibliocommons-row,
.event-item{
float: left;
width: 42%;
margin-right: 2%;
}

.bibliocommons-row,
.event-item,
.blog-post-preview {
margin-bottom: 3%;
}

.bibliocommons-row {
font-size: 110%;
}

/* imgs */
.views-field-field-preview-image img,
.bibliocommons-image img,
.blog-teaser img,
.blog-body img,
.event-image img {
outline: 1px solid #0073ba;
}
.views-field-field-preview-image img:hover,
.bibliocommons-image img:hover,
.blog-teaser img:hover,
.event-image img:hover {
outline: 2px solid #209ee8;
}

.views-field-field-preview-image, 
.bibliocommons-image,
.blog-teaser img,
.blog-body img {
float: left;
margin: 0 15px 15px 0;
}

/* blog posts, events */
.bibliocommons-title, .blog-title, .event-title {
font-size: 1.5em;
}

.blog-body {
margin-top: 2em;
}

/* events */
.event-item {
min-height: 240px;
}

.event-image img {
width: 285px;
height: auto;
}

/* blogs */
.blog-post-preview {
float: left;
width: 65%;
}

.blog-body img {
float: left;
clear: left;;
}


/* Media Queries */

@media screen and (min-width: 1024px){
	.navigation ul.main-menu li {
	font-size: 1.5em; /* top nav font size */ /* THIS IS WHERE IE8 CHOKES */
	}
	
	.views-row {
	width: 30%;
	height: 200px;
	}
  }	

@media screen and (max-width: 1024px){
	.views-row {
	width: 42%;
	height: 200px;
	}	
}

@media screen and (max-width: 800px){

	.views-field-body .field-content p {
	padding-left: 0;
	float: left;
	padding-top: 10px; /* subpages desc */
	font-size: 86%;  /* subpages desc */
	}
}


@media screen and (max-width: 740px){
  .site-name-slogan .site-name a{
    font-size: 110px;
    letter-spacing: 5px; /* site name font */
  }
  
  h1.site-name, h2.site-name {
  bottom: -16px; /* site name placement */
  }

  .logo-img img{
     width: 150px;
     height: auto;
     padding: 10px 0 0 0; /* logo size */
  }

	.views-row, 
	.bibliocommons-row,
	.event-item  {
	width: 100%;
	height: auto;
	}
	
	.views-field-body .field-content p {
	padding-left: 115px;
	float: none;
	padding-top: 0; /* subpages desc */
	font-size: inherit;
	}
		
  #footer-bottom ul {
   width: 44%;
  }	

	.blog-post-preview {
	width: 85%;
	}
    
}

@media screen and (max-width: 480px){
	.branding-data {
	margin-bottom: 0; /* fixes a positioning bug for 480 bkpt */
	}

  .site-name-slogan .site-name a{
    font-size: 55px;
	letter-spacing: 2px; /* site name font */
  }
  
  h1.site-name, h2.site-name {
  bottom: 3px; /* site name placement */
  }  

 .logo-img img{
    display: none; /* header img */
  }
  .logo-img a {
	background: transparent url("../logo-lionmark_50.png") no-repeat left 5px;
	width: 50px;
	height: 60px;
	display: block;
  }

  
  #zone-menu{
      font-size: 9px; /* top nav font size */
  }

  
  #footer-bottom ul {
  float: none;
  width: auto;
  }


	.views-field-field-preview-image img,
	.views-field-body, /* subpages items */
	#breadcrumb, /* breadcrumb links */
	h1.title /* title of page */
	{
	display: none; 
	}  
	
  	/* Home page */
  	a.lib-card {
	margin-top: 20px;
	background: #F99D32;
	width: auto;
	height: auto;
	text-indent: 0;
	white-space: nowrap;
	overflow: hidden;
	border: 2px solid #fff;
	border-radius: 5px;
	font-weight: bold;
	padding: 2px 5px;
	text-transform: uppercase;
	}
	a.lib-card {
	color: #fff;
	text-decoration: none;
	}

	
	[class|="promo"] {
	padding-top: 20px;
	}
	
	.event-item {
	margin: 1em 0;
	min-height: auto;
	}
	
	.event-image img {
	width: 150px;
	height: auto;
	margin: 1em 0;
	}
	
	.blog-post-preview {
	width: 100%;
	margin-bottom: 3em;
	}
	.blog-teaser {
	display: none;
	}
	
	.bibliocommons-image {
	float: none;
	}

}
